body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
color: orange;
}
.flexible-container{
display: flex;
margin-bottom: 150px;
}
.half-width{
    width:50% ;
    padding-left: 2%;
}
.half-width img{
    width:80% ;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    text-transform: uppercase;
}
.top-banner{
    background-image: url(img/825336.jpg);
    background-color: white;
    background-repeat: no-repeat;

}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin: 0 5%;
    padding-left: 20px;
}
#developer{
    border-left: 7px solid;
    border-image: linear-gradient( #0c4c9f,#291ec03a);
    border-image-slice: 1;
}
#Web{
    border-left: 7px solid;
    border-image: linear-gradient( #f32c25,#e9ac3ad5);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}